* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.link {
	text-decoration: none;
	color: #999;
}

.link:hover {
	color: #666;
}

body {
	min-height: 100vh;
	background: #f1f1f1;
	font-family: "Work Sans", sans-serif;
}

.hero {
	width: 100%;
	height: 320px;
	top: 0;
	position: fixed;
	z-index: -1;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	color: #333;
	margin-bottom: 4px;
}

.description {
	color: #666;
	line-height: 1.5;
}

.content {
	background: white;
	max-width: 480px;
	position: relative;
	top: 320px;
	margin: 0 auto 48px;
}

.tabs {
	display: flex;
	justify-content: space-around;
	border-bottom: thin solid #ccc;
}

.tab {
	flex: 1;
	text-align: center;
	padding: 16px 0 13px 0;
	color: #ccc;
	cursor: not-allowed;
}

.tab.-selected {
	color: dodgerblue;
	border-bottom: 3px solid dodgerblue;
}

.section {
	margin: 0 16px;
}

.section.-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 32px;
}

.section.-output {
	padding-top: 8px;
	padding-bottom: 32px;
}

.input-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.input-error {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.75em;
	font-weight: bold;
	background: #f36;
	color: white;
	height: 18px;
	line-height: 18px;
	margin: 2px 8px 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.input-error:not(:empty) {
	padding: 0 8px;
}

.input-label {
	color: #999;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 1;
	margin-bottom: 4px;
}

.input {
	width: 100%;
	height: 64px;
	font-family: "Source Code Pro", monospace;
	font-size: 1.5em;
	color: #333;
	background: #f6f6f6;
	padding: 16px 20px;
	margin-bottom: 16px;
	outline: 0;
	border: thin solid #999;
	border-radius: 4px;
	transition: 0.15s border-color, 0.15s box-shadow;
}

.input::placeholder {
	color: #bbb;
	transition: 0.2s color;
}

.input:focus::placeholder {
	color: dodgerblue;
}

.input:focus {
	border-color: dodgerblue;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
}

.input-error:not(:empty) + .input {
	color: #f36;
	border-color: #f36;
}

.input-error:not(:empty) + .input:focus::placeholder {
	color: #ccc;
}

.section.-form:invalid .input-button {
	background: #adc;
	pointer-events: none;
}

.input-button .icon {
	margin-right: 6px;
}

.input-button {
	width: 112px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Work Sans";
	font-size: 1em;
	color: white;
	background: #3a6;
	margin-top: 4px;
	padding-right: 6px;
	outline: 0;
	border: 0;
	border-radius: 24px;
	margin-left: auto;
	transition: 0.15s background;
}

.input-button:hover {
	cursor: pointer;
	background: #295;
}

.input-button:focus {
	border: 2px solid dodgerblue;
}

.section-title {
	color: #999;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.output-box {
	height: 160px;
	color: #ccc;
	border: thin solid #ccc;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.output-box.-result .output {
	font-size: 1.5em;
	font-weight: bold;
	font-family: "Source Code Pro", monospace;
}

.output-box.-result .output::after {
	display: block;
	line-height: 2;
	font-size: 0.5em;
	font-weight: normal;
	font-family: "Work Sans", sans-serif;
}

.output-box.-correct {
	border-color: #3a6;
	color: #3a6;
}

.output-box.-correct .output::after {
	content: "These expressions are equivalent.";
}

.output-box.-incorrect {
	border-color: #f36;
	color: #f36;
}

.output-box.-incorrect .output::after {
	content: "These expressions are not equivalent.";
}

.footer {
	width: 100%;
	height: 48px;
	line-height: 48px;
	bottom: 0;
	position: fixed;
	z-index: -1;
	padding: 0 16px;
	color: #666;
	text-align: center;
}

@media (min-width: 480px) {
	.hero {
		max-width: 480px;
		left: 50%;
		transform: translateX(-50%);
	}

	.content {
		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
		margin-bottom: 80px;
	}

	.section {
		margin: 0 8%;
	}

	.section.-form {
		padding-top: 48px;
	}

	.section.-output {
		padding-bottom: 48px;
	}

	.footer {
		height: 80px;
		line-height: 80px;
	}
}

@media (min-width: 512px) {
	.hero {
		padding: 0;
	}
}

@media (min-width: 480px) and (min-height: 960px) {
	.footer {
		position: static;
		margin-top: 320px;
	}
}
