* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: #eee;
	font-family: "Work Sans", sans-serif;
}

.title {
	color: #333;
	margin-bottom: 4px;
}

.description {
	color: #666;
	line-height: 1.5;
	padding-bottom: 20px;
	border-bottom: thin solid #999;
	margin-bottom: 64px;
}

.content {
	max-width: 512px;
	margin: 64px 16px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 16px;
}

.input-label {
	color: #999;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 4px;
}

.input {
	width: 100%;
	height: 64px;
	font-family: "Source Code Pro", monospace;
	font-size: 2em;
	color: #333;
	padding: 16px 20px;
	margin-bottom: 16px;
	border: thin solid #999;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
	transition: 0.2s border-color;
}

.input:focus {
	border-color: dodgerblue;
	outline: 0;
}

.input::placeholder {
	color: #999;
	transition: 0.2s color;
}

.input:focus::placeholder {
	color: dodgerblue;
}

.input:invalid + .input-button {
	background: #ccc;
	pointer-events: none;
}

.input-button .icon {
	margin-right: 6px;
}

.input-button {
	width: 112px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Work Sans";
	font-size: 1em;
	color: white;
	background: #3a6;
	margin-top: 4px;
	padding-right: 6px;
	border: 0;
	border-radius: 24px;
	margin-left: auto;
	transition: 0.15s background;
}

.input-button:hover {
	cursor: pointer;
	background: #295; /* #0e80f7; */
}

.input-button:focus {
	outline: 0;
	border: 2px solid dodgerblue;
}

.section-title {
	color: #999;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.output-box {
	height: 160px;
	border: thin solid #999;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.output-text {
	color: #999;
}
